@import "./color.scss";
@import "./font.scss";

.form-search {
  border-radius: 5px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  width: 100%;
}

.form-search__wrapper-search {
  display: flex;
  position: relative;
}

.form-search__box-input {
  width: 100%;

  input {
    height: 3.125rem;
    border: 1px solid $color-form-border;
    display: inline-flex;
    align-items: center;
    font-family: $font-secondary;
    border-radius: 6px;
    width: 100%;
    padding-left: 1.5rem;

    &:focus {
      outline: none;
    }

    @media all and (max-width: 75rem) {
      height: 2.75rem;
    }
  }

  div {
    position: absolute;
    top: 3.125rem;
    left: 14rem;
    height: 3.125rem;
    z-index: 10;
    background-color: $color-bs-white;
    border: 1px solid $color-form-border;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: $font-secondary;
    border-radius: 6px 0 0 6px;
    width: 62.5%;
    padding-left: 1.5rem;

    @media all and (max-width: 75rem) {
      height: 2.75rem;
    }

    .form-search__box-input-lastspan {
      position: absolute;
      right: 2rem;
    }
  }

  div:hover {
    background-color: $color-bs-blue;
  }
}

.form-search__button {
  position: absolute  ;
  right: 0;
  .form-search__button-detail {
    height: 3.125rem;
    padding-left: 1.5625rem;
    padding-right: 1.5625rem;
    font-family: $font-primary;
    border: none;
    text-transform: capitalize;
    font-size: 0.875rem;
    letter-spacing: -0.03px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    background-color: $color-primary;
    border-color: $color-primary;
    border-radius: 0 5px 5px 0;

    @media all and (max-width: 75rem) {
      height: 2.75rem;
    }
  }

  .form-search__button-detail--yellow {
    background-color: $color-bs-yellow;
    color: $color-main-text;
  }
}
